# Ignore all
*

# Allow
!.gitignore
!.editorconfig
!.env.example
!.github/
!.github/**/*
!.justfile
!LICENSE
!README.md

# Allow the program files in the root directory
!go.mod
!go.sum
!main.go

# Allow cmd directory and all its contents
!cmd/
!cmd/**

# Allow internal directory and all its contents
!internal/
!internal/**

# Allow golangci-lint configuration file
.golangci.yml
